@media (max-width: 1024px) {
}

@media (max-width: 991px) {
    .items{
        display: none;
    }
    .hamburger{
        display: block;
      }
}

@media (max-width: 767px) {
  .col6 {
    width: 100%;
    margin-bottom: 30px;
  }
  .contentimg {
    flex-wrap: wrap-reverse;
    text-align: center;
  }
  
  .questionrow,
  .smiplify .row {
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  footer .row {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    /* flex-direction: column-reverse; */

   
  }
  .copyRight{
      display: none;
  }
  footer .row .row {
      display: flex;
      flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: space-between;
  }
  footer ul {
    width: 50%;
    text-align: center;
  }
  footer .mb10 {
    margin-bottom: 20px;
  }
}
@media (max-width: 330px) {
}
